# data sub-directories (the ones with actual content; the root(s) need to stay)
/data/output/

# MATLAB-specific files
*.asv
*.mat
*.fig

# MRI (Bruker) data files
acqp
fid
traj
method

% backup files
*~
